.brand-name {
  color: #337ab7;
  font-size: 1.5em;
  font-weight: bold;
}

.brand-subtitle {
  color: #E0FFFF;
  font-family: Courier, monospace;
  font-size: 1.2em;
}

.nav-container {
  margin-top: 10% !important;
}

.nav-pills > li > a {
  padding: 0.5rem 1rem;
}

#principal_hr {
  margin: 20px 0;
}

/* Estilização para os links ativos */
.nav-pills > li > a.active {
  background-color: #337ab7 !important;
  color: white !important;
}

.nav-pills > li > a.active:hover {
  background-color: #337ab7 !important;
  color: white !important;
  font-weight: unset;
  font-size: unset;
}

.nav-pills > li > a:hover {
  background-color: unset !important;
  color: #337ab7;
  font-weight: bold;
  font-size: x-large;

}

.header {
  background-color: #000000;
  min-height: 100px;
  display: block;
}
